@font-face {
  font-family: myFirstFont;
  src: url("../font/Wintersoul.woff");
}
@font-face {
  font-family: Arkhip_font;
  src: url("../font/Arkhip_font.ttf");
}
@font-face {
  font-family: wellcome;
  src: url(https://fonts.googleapis.com/css?family=Pacifico);
}
@font-face {
  font-family: ubuntu;
  src: url("../font/Ubuntu-Bold.ttf");
}

.ubuntu{
  font-family: ubuntu;
}
/*AbrilFatface-Regular.ttf*/

.main-nav{
	background-color: transparent;
	position: fixed;
	width: 100%;
	padding: 0;
	transition: background-color 0.5s;
}
.nav-gradient{
	background: rgb(163,166,175);
	background: linear-gradient(90deg, rgba(163,166,175,1) 0%, rgba(104,128,140,1) 100%);
	-webkit-box-shadow: 0px 6px 15px -1px rgba(0,0,0,0.59); 
	box-shadow: 0px 6px 15px -1px rgba(0,0,0,0.59);
}
.img-dashboard{
	margin-top: 130px;
	border: 2px solid #fff;
}
.item-menu{
	 display: inline;
	 position: relative;
	 padding: 10px;
	 cursor: pointer;
	 font-style: bold;
	 color: #fff;
	 background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;

	}
.item-menu::after{
	content: '';
	background: #fff;
	position: absolute;
	top: 40px;
	left: 0px;

}
.deskripsi{
	color: #fff;
}
.item-menu:hover::after{
	animation: item_menu .3s ease-out forwards;
}
@keyframes item_menu{
	from {
		width:0px; height:3px;
		} 
	to{
		width: 100%; height: 1px;

		}
	}
.names{
	color: #fff;
	font-family: myFirstFont;
	font-size: 5vh;
}
.myProfil {
	background-color:rgba(132, 170, 196,0.4);
	border-radius:28px;
	border:1px solid #6AF886;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
}
.myProfil:hover {
	background-color:#0F5B8F;
	color: #fff;
	text-decoration:none
}
.myProfil:active {
	position:relative;
	top:1px;
}


h1 { font-size: 20vw; }

.item-menu:hover{
  text-align: center;
  
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: bold;
  animation: shine 1s linear infinite;
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }


  @media (max-width: 575.98px) { 
    #dashboard{
     width: 100%;
     background-image: url('../images/hasil_1.jpg');
     position: inherit;
     background-size: cover;
     background-repeat: no-repeat;
     height: 500px;
     background-color: rgba(255,255,255,0.4);
   }
   #Profil{
    background-image: url('../images/bg__.png');
    background-size: cover;
    margin-top: -150px;
    background-color: transparent;
    width: 100%;
    padding-bottom: 100px;
  }
  .md__{
    display: none;
  }
  .img-dashboard{
    margin-top: 20px;
  }
}


 @media (min-width: 576px) and (max-width: 767.98px) { 
   #dashboard{
     width: 100%;
     background-image: url('../images/hasil_1.jpg');
     position: inherit;
     background-size: cover;
     background-repeat: no-repeat;
     height: 500px;
     background-color: rgba(255,255,255,0.4);
   }
   #Profil{
    background-image: url('../images/bg__.png');
    background-size: cover;
    margin-top: -160px;
    background-color: transparent;
    width: 100%;
    padding-bottom: 100px;
  }	
  .md__{
    display: none;
  }
  .img-dashboard{
    margin-top: 20px;
  }
}


  @media (min-width: 768px) and (max-width: 991.98px) { 
  	#dashboard{
     width: 100%;
     background-image: url('../images/hasil_1.jpg');
     position: inherit;
     background-size: cover;
     background-repeat: no-repeat;
     height: 500px;
     background-color: rgba(255,255,255,0.4);
   }	
   #Profil{
   	background-image: url('../images/bg__.png');
     background-size: cover;
     margin-top: -150px;
     background-color: transparent;
     width: 100%;
     padding-bottom: 100px;
   }
   .xs__{
     display: none;   
   }
  }


  @media (min-width: 992px) and (max-width: 1199.98px) { 
     #dashboard{
       width: 100%;
       background-image: url('../images/hasil_1.jpg');
       position: inherit;
       background-size: cover;
       background-repeat: no-repeat;
       height: 500px;
       background-color: rgba(255,255,255,0.4);
     }	
     #Profil{
      background-image: url('../images/bg__.png');
      background-size: cover;
      margin-top: -150px;
      background-color: transparent;
      width: 100%;
      padding-bottom: 100px;
    }
    .xs__{
      display: none;
    }
  }
  @media (min-width: 1200px) { 
  	#dashboard{
     width: 100%;
     background-image: url('../images/hasil_1.jpg');
     position: inherit;
     background-size: cover;
     background-repeat: no-repeat;
     height: 500px;
     background-color: rgba(255,255,255,0.4);
   }	
   #Profil{
   	background-image: url('../images/bg__.png');
     background-size: cover;
     margin-top: -150px;
     background-color: transparent;
     width: 100%;
     padding-bottom: 100px;
   }

   .xs__{
    display: none;
   }
 }



 /*about*/
 
 #About h4{
 	margin: 0;
 	padding: 0;
 	font-style: bold;
 	color: #000;
 	font-size: 4vh;
 	font-family: myFirstFont;
 }
 #About p{
 	margin: 0;
 	padding: 0;
 	font-style: bold;
 	color: #000;
 	font-family: "Times New Roman", Times, serif;
 }

 #About{
 	padding-bottom: 100px;
 	width: 100%;
 	background-color: /*#ebf1fd*/#526f77;
  color: #fff !important;
 	border-top-left-radius: 0px;
 	border-top-right-radius: 30px;
 	border-bottom-left-radius: 30px;
 	border-bottom-right-radius: 0px;
 	margin-top: -20px;
 	-webkit-box-shadow: 0px -6px 15px -1px rgba(0,0,0,0.59); 
	box-shadow: 0px -6px 15px -1px rgba(0,0,0,0.59);
 }
 .img-s{
 	cursor: pointer;
 }

 #Profil h4{
 	font-family: myFirstFont;
 	font-size: 4vh;
 }
 .tb{
 	font-size: 2.5vh;
 	font-style: bold;

 }
 .tb tr{
 	border-bottom: 1px solid #66696b;
 }
 td{
 	padding: 3px;
 }
 .td_title{
 	width: 30%;
 }
 .td_isi{
 	width: 60%;
 }

#carbon{
	background-image: url(../images/karbon.png);
	border-top-left-radius: 30px;
 	border-top-right-radius: 30px;
 	padding-bottom: 30px;
}

.keahlian{
	padding: 10px;
	background-color: rgba(255,255,255,0.3);
	width: 100%;
	margin-top: 50px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.keahlian h4{
	font-family: myFirstFont;
 	font-size: 5vh;
} 

.text-expertise{
	font-style: bold;
}

#Sertifikat{
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19); 
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19);
	padding-top: 20px;
	padding-bottom: 60px;
}
#Portofoio{
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19); 
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19);
  padding-top: 0px;
  margin-top: 10px;
  padding-bottom: 60px;
  background: #fff !important;
}

#colection{
	padding-bottom: 100px;
 	width: 100%;
 	background-color: #f0fdf4;
 	border-top-left-radius: 30px;
 	border-top-right-radius: 30px;
 	border-bottom-left-radius: 30px;
 	border-bottom-right-radius: 30px;
 	margin-top: -20px;
 	-webkit-box-shadow: 0px -6px 15px -1px rgba(0,0,0,0.59); 
	box-shadow: 0px -6px 15px -1px rgba(0,0,0,0.59);
}

.titles{
	font-family: myFirstFont;
 	font-size: 4vh;
}





 /*kontak*/
@-webkit-keyframes 
badbounce {  
  0%, 100% {-webkit-transform: translateY(0px);}
 10% {-webkit-transform: translateY(6px);}
 30% {-webkit-transform: translateY(-4px);}
 70% {-webkit-transform: translateY(3px);}
 90% {-webkit-transform: translateY(-2px);}
}

@-moz-keyframes
badbounce {  
  0%, 100% {-moz-transform: translateY(0px);}
 10% {-moz-transform: translateY(6px);}
 30% {-moz-transform: translateY(-4px);}
 70% {-moz-transform: translateY(3px);}
 90% {-moz-transform: translateY(-2px);}
}
 
@keyframes 
badbounce {  
  0%, 100% {
 -webkit-transform: translateY(0px);
 -moz-transform: translateY(0px);
 -ms-transform: translateY(0px);
 -o-transform: translateY(0px);
 transform: translateY(0px);}
 10% {
 -webkit-transform: translateY(6px);
 -moz-transform: translateY(6px);
 -ms-transform: translateY(6px);
 -o-transform: translateY(6px);
 transform: translateY(6px);}
 30% {
 -webkit-transform: translateY(-4px);
 -moz-transform: translateY(-4px);
 -ms-transform: translateY(-4px);
 -o-transform: translateY(-4px);
 transform: translateY(-4px);}
 70% {
 -webkit-transform: translateY(3px);
 -moz-transform: translateY(3px);
 -ms-transform: translateY(3px);
 -o-transform: translateY(3px);
 transform: translateY(3px);}
 90% {
 -webkit-transform: translateY(-2px);
 -moz-transform: translateY(-2px);
 -ms-transform: translateY(-2px);
 -o-transform: translateY(-2px);
 transform: translateY(-2px);}
}

.ss_animate {
  -webkit-animation: badbounce 1s linear;
  -moz-animation: badbounce 1s linear;
  animation: badbounce 1s linear;
}

#ss_menu {
  bottom: 30px;
  width: 60px;
  height: 60px;
  color: #fff;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  right: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#ss_menu > .menu {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#ss_menu > .menu .share {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#ss_menu > .menu .share .circle {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  margin-top: -6px;
  left: 12px;
  opacity: 1;
}

#ss_menu > .menu .share .circle:after, #ss_menu > .menu .share .circle:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  opacity: 1;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

#ss_menu > .menu .share .circle:after {
  left: 20.78461px;
  top: 12.0px;
}

#ss_menu > .menu .share .circle:before {
  left: 20.78461px;
  top: -12.0px;
}

#ss_menu > .menu .share .bar {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 18px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

#ss_menu > .menu .share .bar:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#ss_menu > .menu .share.close .circle { opacity: 0; }

#ss_menu > .menu .share.close .bar {
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -12px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}

#ss_menu > .menu .share.close .bar:before {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}

#ss_menu > .menu.ss_active {
  background: #00796B;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

#ss_menu > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  background: #00796B;
  border-radius: 50%;
  display: table;
}

#ss_menu > div a {
  display: table-cell;
  vertical-align: middle;
  color:white;
}

#ss_menu > div:hover {
  background: #009688;
  cursor: pointer;
}

#ss_menu div:nth-child(1) {
  top: 0px;
  left: -160px;
}

#ss_menu div:nth-child(2) {
  top: -80.0px;
  left: -138.56406px;
}

#ss_menu div:nth-child(3) {
  top: -138.56406px;
  left: -80.0px;
}

#ss_menu div:nth-child(4) {
  top: -160px;
  left: 0.0px;
}


.Arkhip_font{
  font-family: Arkhip_font;
}

/*typo sambutan*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

/**,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
}
*/
/*#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}*/


.a_Typo {
    color: #024794;
}

.a_Typo:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}